Ticket/Attachment/422388/206397/EvoServerSoapService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
WSDL for the Espial Evo Server API SOAP Service.
-->

<wsdl:definitions targetNamespace="http://espial.com/engage/adapter/soap"
    xmlns:espial="http://espial.com/engage/adapter/soap"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">


<!-- XML Schema -->

<wsdl:types>
<schema targetNamespace="http://espial.com/engage/adapter/soap"
    xmlns:espial="http://espial.com/engage/adapter/soap"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns="http://www.w3.org/2001/XMLSchema" >
    <import namespace="http://schemas.xmlsoap.org/wsdl/"/>

    <!--
    XML Schema that defines types for Evo Server API objects.
    -->

    <complexType name="StringArray">
        <sequence>
            <element name="string" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <simpleType name="ObjectStateType">
        <restriction base="xsd:string">
            <enumeration value="active"/>
            <enumeration value="inactive"/>
        </restriction>
    </simpleType>

    <simpleType name="ProductType">
        <restriction base="xsd:string">
            <enumeration value="ChannelCollection"/>
            <enumeration value="PPVPackage"/>
            <enumeration value="MediaAccess"/>
            <enumeration value="PPVSubscription"/>
            <enumeration value="GenericProduct"/>
            <enumeration value="InternetSubscription"/>
            <enumeration value="LandlordSubscription"/>
            <enumeration value="HDSubscription"/>
            <enumeration value="SOTVSubscription"/>
            <enumeration value="DVRSubscription"/>
        </restriction>
    </simpleType>

    <simpleType name="TVSourceContentType">
        <restriction base="xsd:string">
            <enumeration value="TV"/>
            <enumeration value="Movie"/>
            <enumeration value="Music"/>
        </restriction>
    </simpleType>

    <simpleType name="VideoDefinitionType">
        <restriction base="xsd:string">
            <enumeration value="SD"/>
            <enumeration value="HD"/>
        </restriction>
    </simpleType>

    <complexType name="Locale">
        <sequence>
            <element name="language" type="xsd:string"/>
            <element name="country" type="xsd:string" nillable="true"/>
        </sequence>
    </complexType>
    <complexType name="LocaleArray">
        <sequence>
            <element name="locale" type="espial:Locale" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="LanguageValue">
        <sequence>
            <element name="locale" type="espial:Locale" />
            <element name="value" type="xsd:string" />
        </sequence>
    </complexType>

    <complexType name="MultilanguageValue">
        <sequence>
   	        <element name="default" type="espial:LanguageValue" minOccurs="0" maxOccurs="1" />
       	    <element name="other" type="espial:LanguageValue" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
    </complexType>

    <complexType name="LanguageFileID">
        <sequence>
            <element name="locale" type="espial:Locale" />
            <element name="fileID" type="xsd:string" />
        </sequence>
    </complexType>

    <complexType name="MultilanguageFileID">
        <sequence>
            <element name="default" type="espial:LanguageFileID" minOccurs="0" maxOccurs="1" />
            <element name="other" type="espial:LanguageFileID" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
    </complexType>

    <complexType name="Account">
        <sequence>
            <element name="objectState" type="espial:ObjectStateType"/>
            <element name="serviceDomainExtID" type="xsd:string"/>
            <element name="creditBalance" type="xsd:float"/>
            <element name="billingLanguage" type="espial:Locale"/>
            <element name="firstName" type="xsd:string" nillable="true"/>
            <element name="lastName" type="xsd:string" nillable="true"/>
            <element name="homePhone" type="xsd:string" nillable="true"/>
            <element name="homeAddress1" type="xsd:string" nillable="true"/>
            <element name="homeAddress2" type="xsd:string" nillable="true"/>
            <element name="homeCity" type="xsd:string" nillable="true"/>
            <element name="homeCounty" type="xsd:string" nillable="true"/>
            <element name="homeStateProv" type="xsd:string" nillable="true"/>
            <element name="homePostalCode" type="xsd:string" nillable="true"/>
            <element name="homeCountry" type="xsd:string" nillable="true"/>
            <element name="mdu" type="xsd:string" nillable="true"/>
        </sequence>
        <attribute name="extID" type="xsd:string"/>
    </complexType>
    <complexType name="AccountArray">
        <sequence>
            <element name="account" type="espial:Account" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    <complexType name="AccountReference">
        <sequence>
            <element name="account" type="espial:Account" nillable="true" />
        </sequence>
    </complexType>

    <complexType name="ProductCatalog">
        <sequence>
            <element name="objectState" type="espial:ObjectStateType"/>
            <element name="name" type="xsd:string" nillable="true"/>
            <element name="serviceDomainExtID" type="xsd:string"/>
        </sequence>
        <attribute name="extID" type="xsd:string" />
    </complexType>
    <complexType name="ProductCatalogArray">
        <sequence>
            <element name="productCatalog" type="espial:ProductCatalog" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    <complexType name="ProductCatalogReference">
        <sequence>
            <element name="productCatalog" type="espial:ProductCatalog" nillable="true" />
        </sequence>
    </complexType>

    <complexType name="ClientDevice">
        <sequence>
            <element name="objectState" type="espial:ObjectStateType"/>
            <element name="clientDeviceModelExtID" type="xsd:string"/>
            <element name="macAddress" type="xsd:string"/>
            <element name="serialNumber" type="xsd:string"/>
            <element name="location" type="xsd:string" nillable="true"/>
            <element name="accountExtID" type="xsd:string" nillable="true"/>
        </sequence>
        <attribute name="extID" type="xsd:string"/>
    </complexType>
    <complexType name="ClientDeviceArray">
        <sequence>
            <element name="device" type="espial:ClientDevice" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    <complexType name="ClientDeviceReference">
        <sequence>
            <element name="clientDevice" type="espial:ClientDevice" nillable="true" />
        </sequence>
    </complexType>

    <complexType name="BaseProduct">
        <sequence>
            <element name="objectState" type="espial:ObjectStateType"/>
            <element name="subscription" type="xsd:boolean"/>
            <element name="name" type="espial:MultilanguageValue"/>
            <element name="description" type="espial:MultilanguageValue" nillable="true"/>
            <element name="productType" type="espial:ProductType"/>
            <element name="rateExtID" type="xsd:string"/>
            <element name="canUseStartDate" type="xsd:long"/>
            <element name="canUseEndDate" type="xsd:long"/>
            <element name="canSellStartDate" type="xsd:long"/>
            <element name="canSellEndDate" type="xsd:long"/>
        </sequence>
        <attribute name="extID" type="xsd:string"/>
    </complexType>
    
    <complexType name="BaseProductArray">
        <sequence>
            <element name="product" type="espial:BaseProduct" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    <complexType name="BaseProductReference">
        <sequence>
            <element name="baseProduct" type="espial:BaseProduct" nillable="true" />
        </sequence>
    </complexType>

    <complexType name="Channel">
        <sequence>
            <element name="providerExtID" type="xsd:string" nillable="true"/>
            <element name="contentType" type="espial:TVSourceContentType"/>
            <element name="callLetters" type="xsd:string"/>
            <element name="PPV" type="xsd:boolean"/>
            <element name="caption" type="espial:MultilanguageValue"/>
            <element name="iconFileID" type="espial:MultilanguageFileID"/>
            <element name="TVStreamReferences" type="espial:StringArray"/>
            <element name="description" type="espial:MultilanguageValue"/>
            <element name="startOverTVStartOffset" type="xsd:int"/>
            <element name="startOverTVEndOffset" type="xsd:int"/>
        </sequence>
        <attribute name="extID" type="xsd:string"/>
    </complexType>
    <complexType name="ChannelReference">
        <sequence>
            <element name="channel" type="espial:Channel" nillable="true" />
        </sequence>
    </complexType>

    <complexType name="Purchase">
        <sequence>
            <element name="objectState" type="espial:ObjectStateType"/>
            <element name="accountExtID" type="xsd:string"/>
            <element name="productExtID" type="xsd:string"/>
            <element name="deviceExtID" type="xsd:string" nillable="true"/>
            <element name="bundleExtID" type="xsd:string" nillable="true"/>
            <element name="price" type="xsd:float" nillable="true"/>
            <element name="purchaseDate" type="xsd:long"/>
            <element name="activateDate" type="xsd:long"/>
            <element name="expiryDate" type="xsd:long"/>
        </sequence>
        <attribute name="extID" type="xsd:string"/>
    </complexType>
    <complexType name="PurchaseArray">
        <sequence>
            <element name="purchase" type="espial:Purchase" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    <complexType name="PurchaseReference">
        <sequence>
            <element name="purchase" type="espial:Purchase" nillable="true" />
        </sequence>
    </complexType>

    <complexType name="MediaPurchase">
        <sequence>
            <element name="objectState" type="espial:ObjectStateType"/>
            <element name="ownerPurchaseExtID" type="xsd:string"/>
            <element name="mediaExtID" type="xsd:string"/>
            <element name="deviceExtID" type="xsd:string" nillable="true"/>
            <element name="price" type="xsd:float"/>
            <element name="purchaseDate" type="xsd:long"/>
            <element name="activateDate" type="xsd:long"/>
            <element name="expiryDate" type="xsd:long"/>
        </sequence>
    </complexType>
    <complexType name="MediaPurchaseArray">
        <sequence>
            <element name="mediaPurchase" type="espial:MediaPurchase" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="ServiceDomain">
        <sequence>
            <element name="name" type="xsd:string" nillable="true"/>
            <element name="timeZoneID" type="xsd:string"/>
            <element name="channels" type="espial:StringArray"/>
            <element name="locales" type="espial:LocaleArray"/>
        </sequence>
        <attribute name="extID" type="xsd:string"/>
    </complexType>
    <complexType name="ServiceDomainReference">
        <sequence>
            <element name="serviceDomain" type="espial:ServiceDomain" nillable="true" />
        </sequence>
    </complexType>
    
    <complexType name="MDU">
        <sequence>
            <element name="serviceDomainExtID" type="xsd:string"/>
            <element name="landlordExtID" type="xsd:string" nillable="true"/>
            <element name="name" type="xsd:string" nillable="true"/>
            <element name="address" type="xsd:string" nillable="true"/>
        </sequence>
        <attribute name="extID" type="xsd:string"/>
    </complexType>
    <complexType name="MDUReference">
        <sequence>
            <element name="mdu" type="espial:MDU" nillable="true" />
        </sequence>
    </complexType>

    <complexType name="MediaSource">
        <sequence>
            <element name="mediaPath" type="xsd:string"/>
            <element name="languages" type="espial:StringArray"/>
            <element name="dubbedLanguages" type="espial:StringArray"/>
            <element name="subtitledLanguages" type="espial:StringArray"/>
			<element name="videoDefinitionType" type="espial:VideoDefinitionType"/>
            <element name="videoEncoding" type="xsd:string"/>
            <element name="videoResolution" type="xsd:string"/>
            <element name="videoAspectRatio" type="xsd:string"/>
            <element name="audioEncoding" type="xsd:string"/>
            <element name="audioDefinition" type="espial:StringArray"/>
        </sequence>
    </complexType>
    <complexType name="MediaSourceArray">
        <sequence>
            <element name="mediaSource" type="espial:MediaSource" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="Media">
        <sequence>
            <element name="objectState" type="espial:ObjectStateType"/>
            <element name="ISAN" type="xsd:string"/>
            <element name="rating" type="xsd:string" nillable="true"/>
            <element name="duration" type="xsd:int"/>
            <element name="mediaSources" type="espial:MediaSourceArray"/>
            <element name="licensingWindowStartDateTime" type="xsd:long"/>
            <element name="licensingWindowEndDateTime" type="xsd:long"/>
            <element name="cancelByOffset" type="xsd:int"/>
            <element name="title" type="espial:MultilanguageValue"/>
            <element name="shortDescription" type="espial:MultilanguageValue"/>
            <element name="longDescription" type="espial:MultilanguageValue"/>
            <element name="studio" type="xsd:string"/>
            <element name="stars" type="xsd:int"/>
            <element name="maximumViewingDuration" type="xsd:int"/>
            <element name="mediaPriceGroupExtID" type="xsd:string" nillable="true"/>
            <element name="actors" type="espial:StringArray"/>
            <element name="directors" type="espial:StringArray"/>
            <element name="shortTitle" type="espial:MultilanguageValue"/>
            <element name="titleSortKey" type="espial:MultilanguageValue"/>
            <element name="mediaVendorExtID" type="xsd:string"/>
            <element name="advisories" type="espial:StringArray"/>
            <element name="genres" type="espial:StringArray"/>
            <element name="year" type="xsd:int"/>
            <element name="billingID" type="xsd:int"/>
        </sequence>
        <attribute name="extID" type="xsd:string"/>
    </complexType>
    <complexType name="MediaReference">
        <sequence>
            <element name="media" type="espial:Media" nillable="true" />
        </sequence>
    </complexType>

    <complexType name="MediaFolder">
        <sequence>
            <element name="folderName" type="espial:MultilanguageValue"/>
            <element name="parentFolderExtID" type="xsd:string" nillable="true"/>
            <element name="mediaVendorExtID" type="xsd:string"/>
            <element name="childIndex" type="xsd:int"/>
            <element name="childFolders" type="espial:StringArray" nillable="true"/>
            <element name="mediaList" type="espial:StringArray" nillable="true"/>
        </sequence>
        <attribute name="extID" type="xsd:string"/>
    </complexType>
    <complexType name="MediaFolderReference">
        <sequence>
            <element name="mediaFolder" type="espial:MediaFolder" nillable="true" />
        </sequence>
    </complexType>

    <complexType name="MediaPriceGroup">
        <sequence>
            <element name="objectState" type="espial:ObjectStateType"/>
            <element name="mediaVendorExtID" type="xsd:string"/>
            <element name="name" type="xsd:string"/>
            <element name="rateExtID" type="xsd:string"/>
        </sequence>
        <attribute name="extID" type="xsd:string"/>
    </complexType>
    <complexType name="MediaPriceGroupReference">
        <sequence>
            <element name="mediaPriceGroup" type="espial:MediaPriceGroup" nillable="true" />
        </sequence>
    </complexType>
    
    <complexType name="MediaPromotion">
        <sequence>
            <element name="name" type="espial:MultilanguageValue"/>
            <element name="description" type="espial:MultilanguageValue" nillable="true"/>
            <element name="startDate" type="xsd:long"/>
            <element name="endDate" type="xsd:long"/>
            <element name="mediaVendorExtID" type="xsd:string"/>
            <element name="promotionalMediaPriceGroupExtID" type="xsd:string"/>
            <element name="promotedMedia" type="espial:StringArray" nillable="true"/>
        </sequence>
        <attribute name="extID" type="xsd:string"/>
    </complexType>
    <complexType name="MediaPromotionReference">
        <sequence>
            <element name="mediaPromotion" type="espial:MediaPromotion" nillable="true" />
        </sequence>
    </complexType>
    
    <complexType name="MediaVendorAccessPoint">
        <sequence>
            <element name="mediaVendorExtID" type="xsd:string"/>
            <element name="serviceDomainExtID" type="xsd:string"/>
            <element name="gatewayURLs" type="espial:StringArray"/>
        </sequence>
    </complexType>
    <complexType name="MediaVendorAccessPointReference">
        <sequence>
            <element name="mediaVendorAccessPoint" type="espial:MediaVendorAccessPoint" nillable="true" />
        </sequence>
    </complexType>

    <complexType name="Rate">
        <sequence>
            <element name="price" type="xsd:float"/>
            <element name="priceDescription" type="espial:MultilanguageValue"/>
        </sequence>
        <attribute name="extID" type="xsd:string"/>
    </complexType>
    <complexType name="RateReference">
        <sequence>
            <element name="rate" type="espial:Rate" nillable="true" />
        </sequence>
    </complexType>
    
</schema>
</wsdl:types>


<!-- Messages -->

    <!-- Used when a request/response has no content -->
    <wsdl:message name="emptyMessage" />

    <wsdl:message name="extIDMessage">
        <wsdl:part name="extID" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="stringArrayMessage">
        <wsdl:part name="stringArray" type="espial:StringArray"/>
    </wsdl:message>

    <wsdl:message name="createAccountRequest">
        <wsdl:part name="extID" type="xsd:string"/>
        <wsdl:part name="domainExtID" type="xsd:string"/>
        <wsdl:part name="locale" type="espial:Locale"/>
        <wsdl:part name="creditBalance" type="xsd:float"/>
    </wsdl:message>

    <wsdl:message name="getAccountResponse">
        <wsdl:part name="accountReference" type="espial:AccountReference" />
    </wsdl:message>

    <wsdl:message name="getProductCatalogResponse">
        <wsdl:part name="productCatalogReference" type="espial:ProductCatalogReference" />
    </wsdl:message>

    <wsdl:message name="clientDeviceMessage">
        <wsdl:part name="clientDevice" type="espial:ClientDevice"/>
    </wsdl:message>

    <wsdl:message name="createClientDeviceRequest">
        <wsdl:part name="extID" type="xsd:string"/>
        <wsdl:part name="macAddress" type="xsd:string"/>
        <wsdl:part name="serialNumber" type="xsd:string"/>
        <wsdl:part name="location" type="xsd:string"/>
        <wsdl:part name="clientDeviceModelExtID" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="getClientDeviceResponse">
        <wsdl:part name="clientDeviceReference" type="espial:ClientDeviceReference" />
    </wsdl:message>

    <wsdl:message name="getBaseProductResponse">
        <wsdl:part name="baseProductReference" type="espial:BaseProductReference" />
    </wsdl:message>

    <wsdl:message name="getPurchaseResponse">
        <wsdl:part name="purchaseReference" type="espial:PurchaseReference" />
    </wsdl:message>

    <wsdl:message name="updateAccountRequest">
        <wsdl:part name="account" type="espial:Account"/>
    </wsdl:message>

    <wsdl:message name="updateAccountCreditBalanceRequest">
        <wsdl:part name="creditBalance" type="xsd:float"/>
    </wsdl:message>

    <wsdl:message name="addProductCatalogToAccountsRequest">
        <wsdl:part name="catalogExtID" type="xsd:string"/>
        <wsdl:part name="accounts" type="espial:StringArray"/>
    </wsdl:message>

    <wsdl:message name="removeProductCatalogFromAccountsRequest">
        <wsdl:part name="catalogExtID" type="xsd:string"/>
        <wsdl:part name="accounts" type="espial:StringArray"/>
    </wsdl:message>

    <wsdl:message name="getProductCatalogsResponse">
        <wsdl:part name="productCatalogs" type="espial:ProductCatalogArray"/>
    </wsdl:message>

    <wsdl:message name="getAvailableProductListForAccountRequest">
        <wsdl:part name="accountExtID" type="xsd:string"/>
        <wsdl:part name="date" type="xsd:long"/>
    </wsdl:message>

    <wsdl:message name="getClientDevicesForAccountResponse">
        <wsdl:part name="devices" type="espial:ClientDeviceArray"/>
    </wsdl:message>

    <wsdl:message name="getAvailableProductListForAccountResponse">
        <wsdl:part name="products" type="espial:BaseProductArray"/>
    </wsdl:message>

    <wsdl:message name="getMediaPurchaseHistoryForAccountResponse">
        <wsdl:part name="purchases" type="espial:MediaPurchaseArray"/>
    </wsdl:message>

    <wsdl:message name="getPurchaseHistoryForAccountResponse">
        <wsdl:part name="purchases" type="espial:PurchaseArray"/>
    </wsdl:message>

    <wsdl:message name="getActivePurchasesForAccountResponse">
        <wsdl:part name="purchases" type="espial:PurchaseArray"/>
    </wsdl:message>

    <wsdl:message name="activateRequest">
        <wsdl:part name="extID" type="xsd:string"/>
        <wsdl:part name="enable" type="xsd:boolean"/>
    </wsdl:message>

    <wsdl:message name="clientDevicePINResetRequest">
        <wsdl:part name="extID" type="xsd:string"/>
        <wsdl:part name="PIN" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="clientDeviceAccountKeyMessage">
        <wsdl:part name="accountExtID" type="xsd:string"/>
        <wsdl:part name="deviceExtID" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="getChannelResponse">
        <wsdl:part name="channelReference" type="espial:ChannelReference"/>
    </wsdl:message>

    <wsdl:message name="purchaseProductRequest">
        <wsdl:part name="accountExtID" type="xsd:string"/>
        <wsdl:part name="productExtID" type="xsd:string"/>
        <wsdl:part name="clientDeviceExtID" type="xsd:string"/>
        <wsdl:part name="activateDate" type="xsd:long"/>
        <wsdl:part name="expiryDate" type="xsd:long"/>
    </wsdl:message>

    <wsdl:message name="getServiceDomainResponse">
        <wsdl:part name="serviceDomainReference" type="espial:ServiceDomainReference"/>
    </wsdl:message>

    <wsdl:message name="getMDUListForServiceDomainAndLandlordRequest">
        <wsdl:part name="serviceDomainExtID" type="xsd:string"/>
        <wsdl:part name="landlordExtID" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="accountMDUKeyMessage">
        <wsdl:part name="mduExtID" type="xsd:string"/>
        <wsdl:part name="accountExtID" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="mediaKeyRequest">
        <wsdl:part name="mediaVendorExtID" type="xsd:string"/>
        <wsdl:part name="mediaExtID" type="xsd:string"/>
    </wsdl:message>
    
    <wsdl:message name="getMediaResponse">
        <wsdl:part name="mediaReference" type="espial:MediaReference"/>
    </wsdl:message>

    <wsdl:message name="updateMediaRequest">
        <wsdl:part name="media" type="espial:Media"/>
    </wsdl:message>

    <wsdl:message name="mediaFolderKeyRequest">
        <wsdl:part name="mediaVendorExtID" type="xsd:string"/>
        <wsdl:part name="mediaFolderExtID" type="xsd:string"/>
    </wsdl:message>
    
    <wsdl:message name="getMediaFolderResponse">
        <wsdl:part name="mediaFolderReference" type="espial:MediaFolderReference"/>
    </wsdl:message>

    <wsdl:message name="createMediaPriceGroupRequest">
        <wsdl:part name="mediaPriceGroup" type="espial:MediaPriceGroup"/>
    </wsdl:message>
    
    <wsdl:message name="mediaPriceGroupKeyRequest">
        <wsdl:part name="mediaVendorExtID" type="xsd:string"/>
        <wsdl:part name="mediaPriceGroupExtID" type="xsd:string"/>
    </wsdl:message>
    
    <wsdl:message name="getMediaPriceGroupResponse">
        <wsdl:part name="mediaPriceGroupReference" type="espial:MediaPriceGroupReference"/>
    </wsdl:message>
    
    <wsdl:message name="updateMediaPriceGroupRequest">
        <wsdl:part name="mediaPriceGroup" type="espial:MediaPriceGroup"/>
    </wsdl:message>

    <wsdl:message name="removeMediaFromMediaPriceGroupRequest">
        <wsdl:part name="mediaVendorExtID" type="xsd:string"/>
        <wsdl:part name="mediaExtID" type="xsd:string"/>
    </wsdl:message>
    
    <wsdl:message name="addMediaToMediaPriceGroupRequest">
        <wsdl:part name="mediaVendorExtID" type="xsd:string"/>
        <wsdl:part name="mediaExtID" type="xsd:string"/>
        <wsdl:part name="mediaPriceGroupExtID" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="mediaVendorAccessPointKeyRequest">
        <wsdl:part name="mediaVendorExtID" type="xsd:string"/>
        <wsdl:part name="serviceDomainExtID" type="xsd:string"/>
    </wsdl:message>
    
    <wsdl:message name="getMediaVendorAccessPointResponse">
        <wsdl:part name="mediaVendorAccessPointReference" type="espial:MediaVendorAccessPointReference"/>
    </wsdl:message>
	    
    <wsdl:message name="createMediaPromotionRequest">
        <wsdl:part name="mediaPromotion" type="espial:MediaPromotion"/>
    </wsdl:message>
    
    <wsdl:message name="mediaPromotionKeyRequest">
        <wsdl:part name="mediaVendorExtID" type="xsd:string"/>
        <wsdl:part name="mediaPromotionExtID" type="xsd:string"/>
    </wsdl:message>
    
    <wsdl:message name="getMediaPromotionResponse">
        <wsdl:part name="mediaPromotionReference" type="espial:MediaPromotionReference"/>
    </wsdl:message>
    
    <wsdl:message name="updateMediaPromotionRequest">
        <wsdl:part name="mediaPromotion" type="espial:MediaPromotion"/>
    </wsdl:message>

    <wsdl:message name="rateMessage">
        <wsdl:part name="rate" type="espial:Rate"/>
    </wsdl:message>
    
    <wsdl:message name="getRateResponse">
        <wsdl:part name="rateReference" type="espial:RateReference"/>
    </wsdl:message>

    <wsdl:message name="mduMessage">
        <wsdl:part name="mdu" type="espial:MDU"/>
    </wsdl:message>
    
    <wsdl:message name="getMDUResponse">
        <wsdl:part name="mduReference" type="espial:MDUReference"/>
    </wsdl:message>

<!-- Port Types -->

<wsdl:portType name="EvoServerSoapService">

    <!--
    createAccount

    inputs: external ID
            service domain external ID
            billing language
            credit balance
    output: none
    -->
    <wsdl:operation name="createAccount" parameterOrder="extID domainExtID locale creditBalance">
        <wsdl:input message="espial:createAccountRequest" name="createAccountRequest"/>
        <wsdl:output message="espial:emptyMessage" name="createAccountResponse"/>
    </wsdl:operation>

    <!--
    getAccount

     input: external ID of account
    output: AccountReference containing the Account
            AccountReference.account is null if object is not found.
    -->
    <wsdl:operation name="getAccount" parameterOrder="extID">
        <wsdl:input message="espial:extIDMessage" name="getAccountRequest"/>
        <wsdl:output message="espial:getAccountResponse" name="getAccountResponse"/>
    </wsdl:operation>

    <!--
    getProductCatalog

     input: external ID of product catalog
    output: ProductCatalogReference containing the ProductCatalog
            ProductCatalogReference.productCatalog is null if object is not found.
    -->
    <wsdl:operation name="getProductCatalog" parameterOrder="extID">
        <wsdl:input message="espial:extIDMessage" name="getProductCatalogRequest"/>
        <wsdl:output message="espial:getProductCatalogResponse" name="getProductCatalogResponse"/>
    </wsdl:operation>

    <!--
    createClientDevice

     input: ClientDeviceReference containing the ClientDevice to be added
    output: empty 
    -->
    <wsdl:operation name="createClientDevice" parameterOrder="extID macAddress serialNumber location clientDeviceModelExtID">
        <wsdl:input message="espial:createClientDeviceRequest" name="createClientDeviceRequest"/>
        <wsdl:output message="espial:emptyMessage" name="createClientDeviceResponse"/>
    </wsdl:operation>

    <!--
    getClientDevice

     input: external ID of client device
    output: ClientDeviceReference containing the ClientDevice
            ClientDeviceReference.clientDevice is null if object is not found.
    -->
    <wsdl:operation name="getClientDevice" parameterOrder="extID">
        <wsdl:input message="espial:extIDMessage" name="getClientDeviceRequest"/>
        <wsdl:output message="espial:getClientDeviceResponse" name="getClientDeviceResponse"/>
    </wsdl:operation>

    <!--
    updateClientDevice
    
    Updates the following fields of the ClientDevice object:
		
		location
		serialNumber
		objectState
		
		Notes: - To update the accout use the addClientDeviceToAccount or removeClientDeviceFromAccount methods.
		       - To change the client device model, create a new client device
     input: ClientDevice
    output: empty 
    -->
    <wsdl:operation name="updateClientDevice" parameterOrder="clientDevice">
        <wsdl:input message="espial:clientDeviceMessage" name="updateClientDeviceRequest"/>
        <wsdl:output message="espial:emptyMessage" name="updateClientDeviceResponse"/>
    </wsdl:operation>

    <!--
    getBaseProduct

     input: external ID of product
    output: BaseProductReference containing the BaseProduct
            BaseProductReference.baseProduct is null if object is not found.
    -->
    <wsdl:operation name="getBaseProduct" parameterOrder="extID">
        <wsdl:input message="espial:extIDMessage" name="getBaseProductRequest"/>
        <wsdl:output message="espial:getBaseProductResponse" name="getBaseProductResponse"/>
    </wsdl:operation>

    <!--
    getPurchase

     input: external ID of purchase
    output: PurchaseReference containing the Purchase
            PurchaseReference.purchase is null if object is not found.
    -->
    <wsdl:operation name="getPurchase" parameterOrder="extID">
        <wsdl:input message="espial:extIDMessage" name="getPurchaseRequest"/>
        <wsdl:output message="espial:getPurchaseResponse" name="getPurchaseResponse"/>
    </wsdl:operation>

    <!--
    updateAccount

    Updates the following fields of the Account object:
        billing language
        credit balance
        home address 1
        home address 2
        home city
        home county
        home state/prov
        home country
        home postal code
        home phone
        first name
        last name
        object state

     input: Account
    output: none
    -->
    <wsdl:operation name="updateAccount" parameterOrder="account">
        <wsdl:input message="espial:updateAccountRequest" name="updateAccountRequest"/>
        <wsdl:output message="espial:emptyMessage" name="updateAccountResponse"/>
    </wsdl:operation>

    <!--
    deleteAccount

     input: external ID of account
    output: none
    -->
    <wsdl:operation name="deleteAccount" parameterOrder="extID">
        <wsdl:input message="espial:extIDMessage" name="deleteAccountRequest"/>
        <wsdl:output message="espial:emptyMessage" name="deleteAccountResponse"/>
    </wsdl:operation>

    <!--
    activateAccount

    inputs: external ID of account
            boolean enable indicating whether to activate or deactivate
    output: none
    -->
    <wsdl:operation name="activateAccount" parameterOrder="extID enable">
        <wsdl:input message="espial:activateRequest" name="activateAccountRequest"/>
        <wsdl:output message="espial:emptyMessage" name="activateAccountResponse"/>
    </wsdl:operation>

    <!--
    addProductCatalogToAccounts

    inputs: external ID of product catalog
            list of external IDs of accounts to add to product catalog
    output: none
    -->
    <wsdl:operation name="addProductCatalogToAccounts" parameterOrder="catalogExtID accounts">
        <wsdl:input message="espial:addProductCatalogToAccountsRequest" name="addProductCatalogToAccountsRequest"/>
        <wsdl:output message="espial:emptyMessage" name="addProductCatalogToAccountsResponse"/>
    </wsdl:operation>

    <!--
    removeProductCatalogFromAccounts

    inputs: external ID of product catalog
            list of external IDs of accounts to remove from product catalog
    output: none
    -->
    <wsdl:operation name="removeProductCatalogFromAccounts" parameterOrder="catalogExtID accounts">
        <wsdl:input message="espial:removeProductCatalogFromAccountsRequest" name="removeProductCatalogFromAccountsRequest"/>
        <wsdl:output message="espial:emptyMessage" name="removeProductCatalogFromAccountsResponse"/>
    </wsdl:operation>

    <!--
    getProductCatalogsForServiceDomain

     input: external ID of service domain
    output: list of product catalogs to which belong to the service domain
    -->
    <wsdl:operation name="getProductCatalogsForServiceDomain" parameterOrder="extID">
        <wsdl:input message="espial:extIDMessage" name="getProductCatalogsForServiceDomainRequest"/>
        <wsdl:output message="espial:getProductCatalogsResponse" name="getProductCatalogsForServiceDomainResponse"/>
    </wsdl:operation>

    <!--
    getProductCatalogsForAccount

     input: external ID of account
    output: list of product catalogs to which the account belongs
    -->
    <wsdl:operation name="getProductCatalogsForAccount" parameterOrder="extID">
        <wsdl:input message="espial:extIDMessage" name="getProductCatalogsForAccountRequest"/>
        <wsdl:output message="espial:getProductCatalogsResponse" name="getProductCatalogsForAccountResponse"/>
    </wsdl:operation>

    <!--
    getAccountsForProductCatalog

     input: external ID of product catalog
    output: list of external IDs of accounts belonging to the product catalog
    -->
    <wsdl:operation name="getAccountsForProductCatalog" parameterOrder="extID">
        <wsdl:input message="espial:extIDMessage" name="getAccountsForProductCatalogRequest"/>
        <wsdl:output message="espial:stringArrayMessage" name="getAccountsForProductCatalogResponse"/>
    </wsdl:operation>

    <!--
    activateClientDevice

    inputs: external ID of client device
            boolean enable indicating whether to activate or deactivate
    output: none
    -->
    <wsdl:operation name="activateClientDevice" parameterOrder="extID enable">
        <wsdl:input message="espial:activateRequest" name="activateClientDeviceRequest"/>
        <wsdl:output message="espial:emptyMessage" name="activateClientDeviceResponse"/>
    </wsdl:operation>

    <!--
    addClientDeviceToAccount

    inputs: external ID of account
            external ID of client device
    output: none
    -->
    <wsdl:operation name="addClientDeviceToAccount" parameterOrder="accountExtID deviceExtID">
        <wsdl:input message="espial:clientDeviceAccountKeyMessage" name="addClientDeviceToAccountRequest"/>
        <wsdl:output message="espial:emptyMessage" name="addClientDeviceToAccountResponse"/>
    </wsdl:operation>

    <!--
    removeClientDeviceFromAccount

    inputs: external ID of account
            external ID of client device
    output: none
    -->
    <wsdl:operation name="removeClientDeviceFromAccount" parameterOrder="accountExtID deviceExtID">
        <wsdl:input message="espial:clientDeviceAccountKeyMessage" name="removeClientDeviceFromAccountRequest"/>
        <wsdl:output message="espial:emptyMessage" name="removeClientDeviceFromAccountResponse"/>
    </wsdl:operation>

    <!--
    clientDevicePINReset

    inputs: external ID of client device
            new PIN
    output: none
    -->
    <wsdl:operation name="clientDevicePINReset" parameterOrder="extID PIN">
        <wsdl:input message="espial:clientDevicePINResetRequest" name="clientDevicePINResetRequest"/>
        <wsdl:output message="espial:emptyMessage" name="clientDevicePINResetResponse"/>
    </wsdl:operation>

    <!--
    getClientDevicesForAccount

     input: external ID of account
    output: list of client devices associated with the account
    -->
    <wsdl:operation name="getClientDevicesForAccount" parameterOrder="extID">
        <wsdl:input message="espial:extIDMessage" name="getClientDevicesForAccountRequest"/>
        <wsdl:output message="espial:getClientDevicesForAccountResponse" name="getClientDevicesForAccountResponse"/>
    </wsdl:operation>

    <!--
    getAvailableProductListForAccount

    inputs: external ID of account
            time for which to retrieve available products in UTC milliseconds
    output: list of products available for purchase at the specified time
    -->
    <wsdl:operation name="getAvailableProductListForAccount" parameterOrder="accountExtID date">
        <wsdl:input message="espial:getAvailableProductListForAccountRequest" name="getAvailableProductListForAccountRequest"/>
        <wsdl:output message="espial:getAvailableProductListForAccountResponse" name="getAvailableProductListForAccountResponse"/>
    </wsdl:operation>

    <!--
    getChannel

    inputs: external ID of channel
    output: ChannelReference containing the channel
    -->
    <wsdl:operation name="getChannel" parameterOrder="extID">
        <wsdl:input message="espial:extIDMessage" name="getChannelRequest"/>
        <wsdl:output message="espial:getChannelResponse" name="getChannelResponse"/>
    </wsdl:operation>

    <!--
    getChannelList

     input: empty
    output: external IDs of all channels
    -->
    <wsdl:operation name="getChannelList">
        <wsdl:input message="espial:emptyMessage" name="getChannelListRequest"/>
        <wsdl:output message="espial:stringArrayMessage" name="getChannelListResponse"/>
    </wsdl:operation>

    <!--
    getChannelListForServiceDomain

     input: external ID of service domain
    output: list of Channels for the service domain
    -->
    <wsdl:operation name="getChannelListForServiceDomain" parameterOrder="extID">
        <wsdl:input message="espial:extIDMessage" name="getChannelListForServiceDomainRequest"/>
        <wsdl:output message="espial:stringArrayMessage" name="getChannelListForServiceDomainResponse"/>
    </wsdl:operation>

    <!--
    purchaseProduct

    inputs: external ID of account
            external ID of product
            external ID of client device (required for PPV products, optional otherwise)
            purchase activate time in UTC milliseconds (pass 0 to indicate 'now')
            purchase expiry time in UTC milliseconds
    output: external ID of created purchase
    -->
    <wsdl:operation name="purchaseProduct" parameterOrder="accountExtID productExtID clientDeviceExtID activateDate expiryDate">
        <wsdl:input message="espial:purchaseProductRequest" name="purchaseProductRequest"/>
        <wsdl:output message="espial:extIDMessage" name="purchaseProductResponse"/>
    </wsdl:operation>

    <!--
    cancelProductPurchase

    inputs: external ID of account
            external ID of product
    output: none
    -->
    <wsdl:operation name="cancelProductPurchase" parameterOrder="purchaseExtID">
        <wsdl:input message="espial:extIDMessage" name="cancelProductPurchaseRequest"/>
        <wsdl:output message="espial:emptyMessage" name="cancelProductPurchaseResponse"/>
    </wsdl:operation>

    <!--
    getActivePurchasesForAccount

     input: external ID of account
    output: list of currently active purchases
    -->
    <wsdl:operation name="getActivePurchasesForAccount" parameterOrder="extID">
        <wsdl:input message="espial:extIDMessage" name="getActivePurchasesForAccountRequest"/>
        <wsdl:output message="espial:getActivePurchasesForAccountResponse" name="getActivePurchasesForAccountResponse"/>
    </wsdl:operation>

    <!--
    getMediaPurchaseHistoryForAccount

     input: external ID of account
    output: list of all media purchases made on the account
    -->
    <wsdl:operation name="getMediaPurchaseHistoryForAccount" parameterOrder="extID">
        <wsdl:input message="espial:extIDMessage" name="getMediaPurchaseHistoryForAccountRequest"/>
        <wsdl:output message="espial:getMediaPurchaseHistoryForAccountResponse" name="getMediaPurchaseHistoryForAccountResponse"/>
    </wsdl:operation>

    <!--
    getPurchaseHistoryForAccount

     input: external ID of account
    output: list of all purchases made on the account
    -->
    <wsdl:operation name="getPurchaseHistoryForAccount" parameterOrder="extID">
        <wsdl:input message="espial:extIDMessage" name="getPurchaseHistoryForAccountRequest"/>
        <wsdl:output message="espial:getPurchaseHistoryForAccountResponse" name="getPurchaseHistoryForAccountResponse"/>
    </wsdl:operation>


    <!--
    getServiceDomain

    inputs: external ID of service domain
    output: ServiceDomainReference containing the service domain
    -->
    <wsdl:operation name="getServiceDomain" parameterOrder="mediaVendorExtID serviceDomainExtID">
        <wsdl:input message="espial:extIDMessage" name="getServiceDomainRequest"/>
        <wsdl:output message="espial:getServiceDomainResponse" name="getServiceDomainResponse"/>
    </wsdl:operation>

    <!--
    getServiceDomainList

     input: empty
    output: external IDs of all service domains
    -->
    <wsdl:operation name="getServiceDomainList">
        <wsdl:input message="espial:emptyMessage" name="getServiceDomainListRequest"/>
        <wsdl:output message="espial:stringArrayMessage" name="getServiceDomainListResponse"/>
    </wsdl:operation>


    <!--
    createMDU

    inputs: MDU
    output: none
    -->
    <wsdl:operation name="createMDU" parameterOrder="mdu">
        <wsdl:input message="espial:mduMessage" name="createMDURequest"/>
        <wsdl:output message="espial:emptyMessage" name="createMDUResponse"/>
    </wsdl:operation>

    <!--
    getMDU

    inputs: external ID of mdu
    output: MDUReference containing the mdu
    -->
    <wsdl:operation name="getMDU" parameterOrder="extID">
        <wsdl:input message="espial:extIDMessage" name="getMDURequest"/>
        <wsdl:output message="espial:getMDUResponse" name="getMDUResponse"/>
    </wsdl:operation>

    <!--
    updateMDU

    Updates the following fields of the MDU object:
            address
            name
    inputs: MDU
    output: none
    -->
    <wsdl:operation name="updateMDU" parameterOrder="mdu">
        <wsdl:input message="espial:mduMessage" name="updateMDURequest"/>
        <wsdl:output message="espial:emptyMessage" name="updateMDUResponse"/>
    </wsdl:operation>


    <!--
    getLandlordList

     input: empty
    output: external IDs of all landlords
    -->
    <wsdl:operation name="getLandlordList">
        <wsdl:input message="espial:emptyMessage" name="getLandlordListRequest"/>
        <wsdl:output message="espial:stringArrayMessage" name="getLandlordListResponse"/>
    </wsdl:operation>

    <!--
    getMDUListForLandlord

     input: external ID of landlord
    output: list of MDUs for the landlord
    -->
    <wsdl:operation name="getMDUListForLandlord" parameterOrder="extID">
        <wsdl:input message="espial:extIDMessage" name="getMDUListForLandlordRequest"/>
        <wsdl:output message="espial:stringArrayMessage" name="getMDUListForLandlordResponse"/>
    </wsdl:operation>

    <!--
    getMDUListForServiceDomainAndLandlord

     input: external ID of service domain
            external ID of landlord
    output: list of MDUs for the landlord
    -->
    <wsdl:operation name="getMDUListForServiceDomainAndLandlord" parameterOrder="serviceDomainExtID landlordExtID">
        <wsdl:input message="espial:getMDUListForServiceDomainAndLandlordRequest" name="getMDUListForServiceDomainAndLandlordRequest"/>
        <wsdl:output message="espial:stringArrayMessage" name="getMDUListForServiceDomainAndLandlordResponse"/>
    </wsdl:operation>

    <!--
    getAccountsForMDU

     input: external ID of MDU
    output: list of Accounts for the MDU
    -->
    <wsdl:operation name="getAccountsForMDU" parameterOrder="extID">
        <wsdl:input message="espial:extIDMessage" name="getAccountsForMDURequest"/>
        <wsdl:output message="espial:stringArrayMessage" name="getAccountsForMDUResponse"/>
    </wsdl:operation>

    <!--
    getAccountsForLandlord

     input: external ID of Landlord
    output: list of Accounts for the Landlord
    -->
    <wsdl:operation name="getAccountsForLandlord" parameterOrder="extID">
        <wsdl:input message="espial:extIDMessage" name="getAccountsForLandlordRequest"/>
        <wsdl:output message="espial:stringArrayMessage" name="getAccountsForLandlordResponse"/>
    </wsdl:operation>


    <!--
    addAccountToMDU

    inputs: external ID of MDU
            external ID of account
    output: none
    -->
    <wsdl:operation name="addAccountToMDU" parameterOrder="mduExtID accountExtID">
        <wsdl:input message="espial:accountMDUKeyMessage" name="addAccountToMDURequest"/>
        <wsdl:output message="espial:emptyMessage" name="addAccountToMDUResponse"/>
    </wsdl:operation>

    <!--
    removeAccountFromMDU

    inputs: external ID of account
            external ID of MDU
    output: none
    -->
    <wsdl:operation name="removeAccountFromMDU" parameterOrder="mduExtID accountExtID">
        <wsdl:input message="espial:accountMDUKeyMessage" name="removeAccountFromMDURequest"/>
        <wsdl:output message="espial:emptyMessage" name="removeAccountFromMDUResponse"/>
    </wsdl:operation>

    <!--
    getMedia

    inputs: external ID of media vendor
    		external ID of media 
    output: MediaReference containing the media 
    -->
    <wsdl:operation name="getMedia" parameterOrder="mediaVendorExtID mediaExtID">
        <wsdl:input message="espial:mediaKeyRequest" name="getMediaRequest"/>
        <wsdl:output message="espial:getMediaResponse" name="getMediaResponse"/>
    </wsdl:operation>

    <!--
    updateMedia

    Updates the following fields of the Media object:
    TODO - document these...

     input: Media
    output: none
    -->
    <wsdl:operation name="updateMedia" parameterOrder="media">
        <wsdl:input message="espial:updateMediaRequest" name="updateMediaRequest"/>
        <wsdl:output message="espial:emptyMessage" name="updateMediaResponse"/>
    </wsdl:operation>

    <!--
    getMediaFolder

    inputs: external ID of media vendor
    		external ID of media folder
    output: MediaFolderReference containing the media folder
    -->
    <wsdl:operation name="getMediaFolder" parameterOrder="mediaVendorExtID mediaFolderExtID">
        <wsdl:input message="espial:mediaFolderKeyRequest" name="getMediaFolderRequest"/>
        <wsdl:output message="espial:getMediaFolderResponse" name="getMediaFolderResponse"/>
    </wsdl:operation>

    <!--
    createMediaPriceGroup

    inputs: MediaPriceGroup
    output: none
    -->
    <wsdl:operation name="createMediaPriceGroup" parameterOrder="mediaPriceGroup">
        <wsdl:input message="espial:createMediaPriceGroupRequest" name="createMediaPriceGroupRequest"/>
        <wsdl:output message="espial:emptyMessage" name="createMediaPriceGroupResponse"/>
    </wsdl:operation>

    <!--
    getMediaPriceGroup

    inputs: external ID of media vendor
    		external ID of media price group
    output: MediaPriceGroupReference containing the media price group
    -->
    <wsdl:operation name="getMediaPriceGroup" parameterOrder="mediaVendorExtID mediaPriceGroupExtID">
        <wsdl:input message="espial:mediaPriceGroupKeyRequest" name="getMediaPriceGroupRequest"/>
        <wsdl:output message="espial:getMediaPriceGroupResponse" name="getMediaPriceGroupResponse"/>
    </wsdl:operation>

    <!--
    updateMediaPriceGroup

    Updates the following fields of the MediaPriceGroup object:
            name
            rateExtID

     input: MediaPriceGroup
    output: none
    -->
    <wsdl:operation name="updateMediaPriceGroup" parameterOrder="mediaPriceGroup">
        <wsdl:input message="espial:updateMediaPriceGroupRequest" name="updateMediaPriceGroupRequest"/>
        <wsdl:output message="espial:emptyMessage" name="updateMediaPriceGroupResponse"/>
    </wsdl:operation>

    <!--
    removeMediaFromMediaPriceGroup

    inputs: external ID of media vendor
    		external ID of media price group
    output: none
    -->
    <wsdl:operation name="removeMediaFromMediaPriceGroup" parameterOrder="mediaVendorExtID mediaExtID">
        <wsdl:input message="espial:removeMediaFromMediaPriceGroupRequest" name="removeMediaFromMediaPriceGroupRequest"/>
        <wsdl:output message="espial:emptyMessage" name="removeMediaFromMediaPriceGroupResponse"/>
    </wsdl:operation>
    
    <!--
    addMediaToMediaPriceGroup

    inputs: external ID of media vendor
    		external ID of media price group
    output: none
    -->
    <wsdl:operation name="addMediaToMediaPriceGroup" parameterOrder="mediaVendorExtID mediaExtID mediaPriceGroupExtID">
        <wsdl:input message="espial:addMediaToMediaPriceGroupRequest" name="addMediaToMediaPriceGroupRequest"/>
        <wsdl:output message="espial:emptyMessage" name="addMediaToMediaPriceGroupResponse"/>
    </wsdl:operation>

    <!--
    getMediaVendorAccessPoint

    inputs: external ID of media vendor
    		external ID of service provider
    output: MediaVendorAccessPointReference containing the media promotion
    -->
    <wsdl:operation name="getMediaVendorAccessPoint" parameterOrder="mediaVendorExtID serviceDomainExtID">
        <wsdl:input message="espial:mediaVendorAccessPointKeyRequest" name="getMediaVendorAccessPointRequest"/>
        <wsdl:output message="espial:getMediaVendorAccessPointResponse" name="getMediaVendorAccessPointResponse"/>
    </wsdl:operation>

    <!--
    createMediaPromotion

    inputs: MediaPromotion
    output: none
    -->
    <wsdl:operation name="createMediaPromotion" parameterOrder="mediaPromotion">
        <wsdl:input message="espial:createMediaPromotionRequest" name="createMediaPromotionRequest"/>
        <wsdl:output message="espial:emptyMessage" name="createMediaPromotionResponse"/>
    </wsdl:operation>

    <!--
    getMediaPromotion

    inputs: external ID of media vendor
    		external ID of media promotion
    output: MediaPromotionReference containing the media promotion
    -->
    <wsdl:operation name="getMediaPromotion" parameterOrder="mediaVendorExtID mediaPromotionExtID">
        <wsdl:input message="espial:mediaPromotionKeyRequest" name="getMediaPromotionRequest"/>
        <wsdl:output message="espial:getMediaPromotionResponse" name="getMediaPromotionResponse"/>
    </wsdl:operation>

    <!--
    deleteMediaPromotion

    inputs: external ID of media vendor
    		external ID of media promotion
    output: none
    -->
    <wsdl:operation name="deleteMediaPromotion" parameterOrder="mediaVendorExtID mediaPromotionExtID">
        <wsdl:input message="espial:mediaPromotionKeyRequest" name="deleteMediaPromotionRequest"/>
        <wsdl:output message="espial:emptyMessage" name="deleteMediaPromotionResponse"/>
    </wsdl:operation>

    <!--
    updateMediaPromotion

    Updates the following fields of the MediaPromotion object:
            name
            description
            startDate
            endDate
            promotionalMediaPriceGroupExtID
            promotedMedia

     input: MediaPromotion
    output: none
    -->
    <wsdl:operation name="updateMediaPromotion" parameterOrder="mediaPromotion">
        <wsdl:input message="espial:updateMediaPromotionRequest" name="updateMediaPromotionRequest"/>
        <wsdl:output message="espial:emptyMessage" name="updateMediaPromotionResponse"/>
    </wsdl:operation>

    <!--
    createRate

    inputs: Rate
    output: none
    -->
    <wsdl:operation name="createRate" parameterOrder="rate">
        <wsdl:input message="espial:rateMessage" name="createRateRequest"/>
        <wsdl:output message="espial:emptyMessage" name="createRateResponse"/>
    </wsdl:operation>

    <!--
    getRate

    inputs: external ID of rate
    output: RateReference containing the rate
    -->
    <wsdl:operation name="getRate" parameterOrder="extID">
        <wsdl:input message="espial:extIDMessage" name="getRateRequest"/>
        <wsdl:output message="espial:getRateResponse" name="getRateResponse"/>
    </wsdl:operation>

    <!--
    deleteRate

    inputs: external ID of rate
    output: none
    -->
    <wsdl:operation name="deleteRate" parameterOrder="extID">
        <wsdl:input message="espial:extIDMessage" name="deleteRateRequest"/>
        <wsdl:output message="espial:emptyMessage" name="deleteRateResponse"/>
    </wsdl:operation>

    <!--
    updateRate

    Updates the following fields of the Rate object:
            price
            priceDescription
    inputs: Rate
    output: none
    -->
    <wsdl:operation name="updateRate" parameterOrder="rate">
        <wsdl:input message="espial:rateMessage" name="updateRateRequest"/>
        <wsdl:output message="espial:emptyMessage" name="updateRateResponse"/>
    </wsdl:operation>

</wsdl:portType>


<!-- Bindings -->

<wsdl:binding name="EvoServerSoapServiceBinding" type="espial:EvoServerSoapService">

    <!--
    RPC/literal binding style (WS-I Basic Profile compliant)
    -->

    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="createAccount">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="createAccountRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="createAccountResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getAccount">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getAccountRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getAccountResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getProductCatalog">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getProductCatalogRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getProductCatalogResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="createClientDevice">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="createClientDeviceRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="createClientDeviceResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getClientDevice">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getClientDeviceRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getClientDeviceResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="updateClientDevice">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="updateClientDeviceRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="updateClientDeviceResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getBaseProduct">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getBaseProductRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getBaseProductResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getPurchase">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getPurchaseRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getPurchaseResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="updateAccount">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="updateAccountRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="updateAccountResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="deleteAccount">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="deleteAccountRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="deleteAccountResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="activateAccount">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="activateAccountRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="activateAccountResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="addProductCatalogToAccounts">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="addProductCatalogToAccountsRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="addProductCatalogToAccountsResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="removeProductCatalogFromAccounts">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="removeProductCatalogFromAccountsRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="removeProductCatalogFromAccountsResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getProductCatalogsForServiceDomain">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getProductCatalogsForServiceDomainRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getProductCatalogsForServiceDomainResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getProductCatalogsForAccount">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getProductCatalogsForAccountRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getProductCatalogsForAccountResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getAccountsForProductCatalog">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getAccountsForProductCatalogRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getAccountsForProductCatalogResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="activateClientDevice">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="activateClientDeviceRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="activateClientDeviceResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="addClientDeviceToAccount">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="addClientDeviceToAccountRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="addClientDeviceToAccountResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="removeClientDeviceFromAccount">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="removeClientDeviceFromAccountRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="removeClientDeviceFromAccountResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="clientDevicePINReset">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="clientDevicePINResetRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="clientDevicePINResetResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getClientDevicesForAccount">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getClientDevicesForAccountRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getClientDevicesForAccountResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getAvailableProductListForAccount">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getAvailableProductListForAccountRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getAvailableProductListForAccountResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getChannel">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getChannelRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getChannelResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="getChannelList">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getChannelListRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getChannelListResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getChannelListForServiceDomain">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getChannelListForServiceDomainRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getChannelListForServiceDomainResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="purchaseProduct">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="purchaseProductRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="purchaseProductResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="cancelProductPurchase">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="cancelProductPurchaseRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="cancelProductPurchaseResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getActivePurchasesForAccount">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getActivePurchasesForAccountRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getActivePurchasesForAccountResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getMediaPurchaseHistoryForAccount">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getMediaPurchaseHistoryForAccountRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getMediaPurchaseHistoryForAccountResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getPurchaseHistoryForAccount">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getPurchaseHistoryForAccountRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getPurchaseHistoryForAccountResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getServiceDomain">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getServiceDomainRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getServiceDomainResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="getServiceDomainList">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getServiceDomainListRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getServiceDomainListResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getLandlordList">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getLandlordListRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getLandlordListResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getMDUListForLandlord">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getMDUListForLandlordRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getMDUListForLandlordResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getMDUListForServiceDomainAndLandlord">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getMDUListForServiceDomainAndLandlordRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getMDUListForServiceDomainAndLandlordResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getAccountsForMDU">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getAccountsForMDURequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getAccountsForMDUResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getAccountsForLandlord">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getAccountsForLandlordRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getAccountsForLandlordResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="addAccountToMDU">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="addAccountToMDURequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="addAccountToMDUResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="removeAccountFromMDU">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="removeAccountFromMDURequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="removeAccountFromMDUResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getMedia">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getMediaRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getMediaResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="updateMedia">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="updateMediaRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="updateMediaResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getMediaFolder">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getMediaFolderRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getMediaFolderResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    
    <wsdl:operation name="removeMediaFromMediaPriceGroup">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="removeMediaFromMediaPriceGroupRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="removeMediaFromMediaPriceGroupResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="addMediaToMediaPriceGroup">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="addMediaToMediaPriceGroupRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="addMediaToMediaPriceGroupResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="createMediaPriceGroup">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="createMediaPriceGroupRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="createMediaPriceGroupResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="getMediaPriceGroup">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getMediaPriceGroupRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getMediaPriceGroupResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="updateMediaPriceGroup">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="updateMediaPriceGroupRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="updateMediaPriceGroupResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="getMediaVendorAccessPoint">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getMediaVendorAccessPointRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getMediaVendorAccessPointResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="createMediaPromotion">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="createMediaPromotionRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="createMediaPromotionResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="getMediaPromotion">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getMediaPromotionRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getMediaPromotionResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="deleteMediaPromotion">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="deleteMediaPromotionRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="deleteMediaPromotionResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="updateMediaPromotion">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="updateMediaPromotionRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="updateMediaPromotionResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="createRate">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="createRateRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="createRateResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="getRate">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getRateRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getRateResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="deleteRate">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="deleteRateRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="deleteRateResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="updateRate">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="updateRateRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="updateRateResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="createMDU">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="createMDURequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="createMDUResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="getMDU">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getMDURequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="getMDUResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="updateMDU">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="updateMDURequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:input>
        <wsdl:output name="updateMDUResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://espial.com/engage/adapter/soap" use="literal"/>
        </wsdl:output>
    </wsdl:operation>


</wsdl:binding>


<!-- Service -->

<wsdl:service name="EvoServerSoapService">
    <wsdl:port binding="espial:EvoServerSoapServiceBinding" name="EvoServerSoapService">
        <wsdlsoap:address location="http://localhost"/>
    </wsdl:port>
</wsdl:service>

</wsdl:definitions>

