Ticket/Attachment/1107955/582528/test.wsdl

<?xml version="1.0" encoding="UTF-8"?><?Siebel-Property-Set EscapeNames="false"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:xsdLocal0="http://www.siebel.com/xml/BISAO Health Care Professionals"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 targetNamespace="http://siebel.com/asi/"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/asi/"
><types
><xsd:schema
 xmlns:xsdLocal0="http://www.siebel.com/xml/BISAO Health Care Professionals"
 targetNamespace="http://www.siebel.com/xml/BISAO Health Care Professionals"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2003 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:annotation
><xsd:documentation
>The following elements are complexTypes
</xsd:documentation
></xsd:annotation
><xsd:element
 name="HealthCareProfessionals"
 type="xsdLocal0:HealthCareProfessionals"
></xsd:element
><xsd:complexType
 name="HealthCareProfessionals"
><xsd:sequence
><xsd:element
 name="Contact"
 minOccurs="0"
 maxOccurs="unbounded"
 type="xsdLocal0:Contact"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Contact"
>
<xsd:sequence
>
<xsd:element
 name="regionalConcilNumber"
 minOccurs="0"
 maxOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="federativeUnity"
 minOccurs="0"
 maxOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="type"
 minOccurs="0"
 maxOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="firstName"
 minOccurs="0"
 maxOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="lastName"
 minOccurs="0"
 maxOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="status"
 minOccurs="0"
 maxOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="primarySpecialty"
 minOccurs="0"
 maxOccurs="1"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
><xsd:schema
 targetNamespace="http://siebel.com/asi/BISAO Health Care Professionals"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:element
 name="Siebel_spcOperation_spcObject_spcId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Process_spcInstance_spcId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Object_spcId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_spcMessage"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_spcCode"
 type="xsd:string"
></xsd:element
></xsd:schema
></types
><message
 name="BISAO Health Care Professionals_Query_Output"
><part
 name="SiebelMessage"
 element="xsdLocal0:HealthCareProfessionals"
></part
><part
 xmlns:ns1="http://siebel.com/asi/BISAO Health Care Professionals"
 name="Siebel_spcOperation_spcObject_spcId"
 element="ns1:Siebel_spcOperation_spcObject_spcId"
></part
><part
 xmlns:ns1="http://siebel.com/asi/BISAO Health Care Professionals"
 name="Process_spcInstance_spcId"
 element="ns1:Process_spcInstance_spcId"
></part
><part
 xmlns:ns1="http://siebel.com/asi/BISAO Health Care Professionals"
 name="Object_spcId"
 element="ns1:Object_spcId"
></part
><part
 xmlns:ns1="http://siebel.com/asi/BISAO Health Care Professionals"
 name="Error_spcMessage"
 element="ns1:Error_spcMessage"
></part
><part
 xmlns:ns1="http://siebel.com/asi/BISAO Health Care Professionals"
 name="Error_spcCode"
 element="ns1:Error_spcCode"
></part
></message
><message
 name="BISAO Health Care Professionals_Query_Input"
><part
 name="SiebelMessage"
 element="xsdLocal0:HealthCareProfessionals"
></part
><part
 xmlns:ns1="http://siebel.com/asi/BISAO Health Care Professionals"
 name="Siebel_spcOperation_spcObject_spcId"
 element="ns1:Siebel_spcOperation_spcObject_spcId"
></part
><part
 xmlns:ns1="http://siebel.com/asi/BISAO Health Care Professionals"
 name="Process_spcInstance_spcId"
 element="ns1:Process_spcInstance_spcId"
></part
><part
 xmlns:ns1="http://siebel.com/asi/BISAO Health Care Professionals"
 name="Object_spcId"
 element="ns1:Object_spcId"
></part
><part
 xmlns:ns1="http://siebel.com/asi/BISAO Health Care Professionals"
 name="Error_spcMessage"
 element="ns1:Error_spcMessage"
></part
><part
 xmlns:ns1="http://siebel.com/asi/BISAO Health Care Professionals"
 name="Error_spcCode"
 element="ns1:Error_spcCode"
></part
></message
><portType
 name="BISAO Health Care Professionals"
><operation
 name="HealthCareProfessionals"
><input
 message="tns:BISAO Health Care Professionals_Query_Input"
></input
><output
 message="tns:BISAO Health Care Professionals_Query_Output"
></output
></operation
></portType
><binding
 name="Query Contact_Binding"
 type="tns:BISAO Health Care Professionals"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="HealthCareProfessionals"
><soap:operation
 soapAction="document/http://siebel.com/asi/:Query"
></soap:operation
><input
><soap:body
 namespace="http://siebel.com/asi/"
 use="literal"
></soap:body
></input
><output
><soap:body
 namespace="http://siebel.com/asi/"
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="BISAO Health Care Professional"
><port
 binding="tns:Query Contact_Binding"
 name="Query Contact"
><soap:address
 location="http://saoasdctt1/eai_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;UserName=foobar&amp;Password=foobar"
></soap:address
></port
></service
></definitions
>
