Ticket/Attachment/778462/403183/Tst.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Test: Some elements have been removed -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://xmlns.example.com/1269875510606"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:ns0="http://www.tst.ch/EAI/Tst/CustomerInteraction/v1_0"
	name="Untitled"
	targetNamespace="http://xmlns.example.com/1269875510606">
	<wsdl:types>
		<xs:schema
			xmlns:Tst="http://www.tst.ch/EAI/Tst/CustomerInteraction/v1_0"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.tst.ch/EAI/Tst/CustomerInteraction/v1_0"
			elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:complexType name="FaultMsg">
				<xs:sequence>
					<xs:element name="header" type="Tst:Header" />
					<xs:element name="error" type="Tst:Response" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="RequestMsg">
				<xs:sequence>
					<xs:element name="header" type="Tst:Header" />
					<xs:element name="payload">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="entityIdentification"
									type="Tst:EntityIdentification" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ResponseMsg">
				<xs:sequence>
					<xs:element name="header" type="Tst:Header" />
					<xs:element name="payload">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="response"
									type="Tst:Response" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="EntityIdentification">
				<xs:choice>
					<xs:element name="subscriptionID" type="xs:string" />
				</xs:choice>
			</xs:complexType>
			<xs:complexType name="Header">
				<xs:sequence>
					<xs:element name="timeStamp" type="xs:dateTime" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Response">
				<xs:sequence>
					<xs:element name="message" type="xs:string"
						minOccurs="0" />
					<xs:element name="code" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="faultMsg"
				type="Tst:FaultMsg" />
			<xs:element name="requestMsg"
				type="Tst:RequestMsg" />
			<xs:element name="responseMsg"
				type="Tst:ResponseMsg" />
		</xs:schema>
	</wsdl:types>
	<wsdl:service
		name="tst.EAI.Tst.Customer.wsdl.v1_0-service">
		<wsdl:port name="TstServiceEndpoint0"
			binding="tns:TstServiceEndpoint0Binding">
			<soap:address
				location="http://localhost:8088/mockTstServiceEndpoint0Binding" />
		</wsdl:port>
	</wsdl:service>
	<wsdl:portType name="InteractionService">
		<wsdl:operation name="Interaction">
			<wsdl:input message="tns:Request" />
			<wsdl:output
				message="tns:Response" />
			<wsdl:fault name="fault"
				message="tns:Fault" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding
		name="TstServiceEndpoint0Binding"
		type="tns:InteractionService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Interaction">
			<soap:operation style="document"
				soapAction="/Tst/TstServiceEndpoint0/TstInteraction" />
			<wsdl:input>
				<soap:body use="literal"
					parts="RequestMsg" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					parts="ResponseMsg" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:message name="Request">
		<wsdl:part name="RequestMsg"
			element="ns0:requestMsg" />
	</wsdl:message>
	<wsdl:message name="Response">
		<wsdl:part name="ResponseMsg"
			element="ns0:responseMsg" />
	</wsdl:message>
	<wsdl:message name="Fault">
		<wsdl:part name="FaultMsg"
			element="ns0:faultMsg" />
	</wsdl:message>
</wsdl:definitions>