Ticket/Attachment/679998/350024/metadata.dtd

<!ELEMENT metadata (acm_ccs?, author*, datatype*, faculty_member?, keyword*, lab?, pages?, publication_venue?, research_topic?, title?, year?)>
<!ELEMENT acm_ccs (#PCDATA)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT datatype (#PCDATA)>
<!ELEMENT faculty_member (#PCDATA)>
<!ELEMENT keyword (#PCDATA)>
<!ELEMENT lab (#PCDATA)>
<!ELEMENT pages (#PCDATA)>
<!ELEMENT publication_venue (#PCDATA)>
<!ELEMENT research_topic (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT year (#PCDATA)>
