Ticket/Attachment/735442/380006/example.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://example.net/"
    xmlns:s="http://www.w3.org/2001/XMLSchema"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    targetNamespace="http://example.net/">
    <types>
        <s:schema targetNamespace="http://example.net/" 
            elementFormDefault="qualified">
                <s:complexType name="TestRequest">
                    <s:all>
                        <s:element name="One" type="s:string"/>
                        <s:element name="Two" type="s:string"/>
                        <s:element name="Three" type="s:string"/>
                    </s:all>
                </s:complexType>
            <s:element name="TestResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="Four" type="s:string"/>                          
                        <s:element name="Five" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="Test2Request">
                <s:complexType>
                    <s:sequence>
                        <s:element name="asdf" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="Test2Response">
                <s:complexType>
                    <s:all>
                        <s:element name="ghjk" type="s:string"/>
                    </s:all>
                </s:complexType>
            </s:element>
        </s:schema>
    </types>
    <message name="TestRequest">
        <part name="TestRequest" type="tns:TestRequest"/>
    </message>
    <message name="TestResponse">
        <part name="TestResponse" element="tns:TestResponse"/>
    </message>
    <message name="Test2Request">
        <part name="Test2Request" element="tns:Test2Request"/>
    </message>
    <message name="Test2Response">
        <part name="Test2Response" element="tns:Test2Response"/>
    </message>
    <portType name="Example">
        <operation name="Test">
            <input message="tns:TestRequest"/>
            <output message="tns:TestResponse"/>
        </operation>
        <operation name="Test2">
            <input message="tns:Test2Request"/>
            <output message="tns:Test2Response"/>
        </operation>
    </portType>
    <binding name="Example" type="tns:Example">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
        <operation name="Test">
            <soap:operation style="rpc"/>
            <input>
                <soap:body use="literal" namespace="http://example.net/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://example.net/"/>
            </output>
        </operation>
        <operation name="Test2">
            <soap:operation style="rpc"/>
            <input>
                <soap:body use="literal" namespace="http://example.net/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://example.net/"/>
            </output>
        </operation>
    </binding>
    <service name="Example">
        <port name="Example" binding="tns:Example">
            <soap:address location="http://localhost:5000/Example"/>
        </port>
    </service>
</definitions>
