Ticket/Attachment/434702/212803/webotech-html-menu.dtd

<!--<!ENTITY copyright "Copyright Web Orientated Technologies Ltd">-->

<!ELEMENT menu (menu-item+)>
<!ATTLIST menu
	  id 	ID	#IMPLIED
	  style	CDATA	""
	  class	CDATA	""
	  type	CDATA	"horizontal">

<!ELEMENT menu-item (onclick?, onmouseover?, onmouseout?)>
<!ATTLIST menu-item
	  id			ID	#IMPLIED
	  value			CDATA	#REQUIRED
	  sequence-order	CDATA	#REQUIRED
	  style			CDATA	""
	  class			CDATA	"">

<!ELEMENT onclick (#PCDATA)>

<!ELEMENT onmouseover (#PCDATA)>

<!ELEMENT onmouseout (#PCDATA)>

